<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sheela Foam.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8BD08E351694BBB99BCA8B8714EC7CA656155B64</string>
				<key>dateExpires</key>
				<string>12/14/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9874TZS9B8.com.supraits.SheelaFoams.prod</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9874TZS9B8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9874TZS9B8.com.supraits.SheelaFoams.prod</string>
				</array>
			</dict>
			<key>name</key>
			<string>Sheela Foam.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8f5e1868-e9e5-47db-960e-5b68359e4891</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.supraits.SheelaFoams.prod</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9874TZS9B8</string>
				<key>name</key>
				<string>SHEELA FOAM LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
